*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footerinfo  {
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    flex-wrap: wrap;
    margin-bottom: 56px;
    
}


.contactp   {
    margin-bottom: 1rem;
}

.foothead   {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    margin-bottom: 0.5rem;
}

.linkp  {
    color: red;
    margin-bottom: 1rem;
}


.footicons  {
    width: 18px;
    margin-right: 5px;
}


footer hr  {

    opacity: 0.2;
    border: 0.7px solid #514949;
    margin: 0px auto 30px auto;
   
}

footer      {
    padding: 30px;
}

.copyrightp     {
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 32px;
    color: #514949;
    padding-bottom: 97px;
    text-align: center;
}

