.pgthreefooter      {
    background-color: rgb(22, 22, 23);
    padding-top: 80px;
}

.ashtwit    {
    width: 45px;
    padding-right: 15px;
    cursor: pointer;
}

.ashutube   {
    width: 58px;
    padding-right: 15px;
    cursor: pointer;
}

.logondsocialpgthree    {
    display: flex;
    justify-content: space-between;
}


.allfootsocialspgtr     {
    margin: auto;
    width: 92%;
}

.lastcopy      {

 color: #fff!important;
font-size: 16px!important;
font-weight: 400!important;
letter-spacing: .01em!important;
line-height: 140%!important;
padding-top: 20px;
padding-bottom: 20px;


}


.lastcopyi      {

    color: #fff!important;
   font-size: 16px!important;
   font-weight: 400!important;
   letter-spacing: .01em!important;
   line-height: 140%!important;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-right: 15px;
   cursor: pointer;
   }

