.starsec7 {
  width: 12%;
}

.star7sec {
  display: flex !important;
  justify-content: end !important;
  margin-top: -65px !important;
}

.faqbig1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 20px;
}

.structuresmallp {
  text-align: center;
  padding-bottom: 60px;
  color: #333 !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 130% !important;
}

.triangleimg {
  display: flex !important;
  left: 0 !important;
  margin-top: 19% !important;
  position: absolute !important;
}

.pointndtextsflex {
  display: flex;
}

.pointndtextsflex1 {
  display: flex;
  padding-bottom: 18px;
}

.whitecirctexts {
  font-size: 16px !important;
  font-weight: 400 !important;
  letter-spacing: 0.01em !important;
  line-height: 140% !important;
  width: 90%;
  color: #fff !important;
}

.structureboxesd {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  /* margin-top: -40px; */
  width: calc(100% + 40px);
  margin-left: -40px;
}

.whitecirc {
  width: 16px;
  height: auto;
  padding-right: 10px;
}

.blackboxes {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  width: 50%;
}

.blackboxcontents {
  background: #1b1a20 !important;
  border: 1px solid #fff !important;
  border-radius: 65px !important;
  box-shadow: 0 31px 60px rgba(231, 51, 43, 0.2) !important;
  box-sizing: border-box !important;
  height: 750px !important;
  padding: 64px 48px;
}

.secavailcourses {
  color: #fff !important;
  font-size: 18px !important;
  font-weight: 900 !important;
  letter-spacing: 0.01em !important;
  line-height: 140% !important;
  width: 90%;
  padding-top: 15px;
}

.req25 {
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  letter-spacing: 0.01em !important;
  line-height: 140% !important;
  width: 90%;
  /* padding-bottom: 18px; */
}

.availcoursebig {
  font-size: 35px !important;
  font-weight: 700 !important;
  line-height: 130% !important;
  color: #fff !important;
  padding-bottom: 18px;
}

.hoursvgimg {
  display: flex;
  float: right;
  margin-right: -19px !important;
  margin-top: -114px;
  width: 20%;
}

.pstructure {
  margin: auto !important;
  max-width: 1440px !important;
  padding-top: 49px !important;
  width: 83% !important;
}

.timesvgimg {
  display: flex;
  float: right;
  margin-right: -19px !important;
  margin-top: -9px;
  width: 40%;
}

.circlestruc {
  display: flex !important;
  float: right !important;
  margin-right: -57px !important;
  margin-top: -72px !important;
  width: 16% !important;
}

@media (max-width: 1100px) {
  .faqbig1 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 20px;
  }

  .blackboxcontents {
    background: #1b1a20 !important;
    border: 1px solid #fff !important;
    border-radius: 65px !important;
    box-shadow: 0 31px 60px rgba(231, 51, 43, 0.2) !important;
    box-sizing: border-box !important;
    height: auto !important;
    padding: 64px 48px;
  }

  .triangleimg {
    display: none !important;
  }

  .structureboxesd {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    /* margin-top: -40px; */
    width: calc(100% + 120px);
    margin-left: -40px;
  }
}

@media (max-width: 950px) {
  .blackboxes {
    display: flex;
    padding-left: 0px;
    padding-right: 29px;
    width: 50%;
  }
}

@media (max-width: 900px) {
  .faqbig1 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
  }

  .structuresmallp {
    text-align: center;
    padding-bottom: 40px;
    color: #333 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 130% !important;
  }

  .structureboxesd {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    /* margin-top: -40px; */
    width: calc(100% + 80px);
    margin-left: -40px;
  }

  .blackboxes {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    width: 100%;
  }

  .hoursvgimg {
    display: flex;
    float: right;
    margin-right: -23px !important;
    margin-top: -114px;
    width: 16%;
  }

  .timesvgimg {
    display: flex;
    float: right;
    margin-right: -19px !important;
    margin-top: 12px;
    width: 30%;
  }

  .circlestruc {
    display: flex !important;
    float: right !important;
    margin-right: 1px !important;
    margin-top: -72px !important;
    width: 16% !important;
  }

  .circlestruc {
    display: flex !important;
    float: right !important;
    margin-right: -23px !important;
    margin-top: -72px !important;
    width: 40% !important;
  }
}

@media (max-width: 600px) {
  .hoursvgimg {
    display: flex;
    float: right;
    margin-right: -19px !important;
    margin-top: -98px;
    width: 29%;
  }

  .timesvgimg {
    display: flex;
    float: right;
    margin-right: -19px !important;
    margin-top: -98px;
    width: 47%;
  }
}

@media (max-width: 500px) {
  .blackboxes {
    display: flex;
    padding-left: 13px;
    padding-right: 34px;
    padding-bottom: 50px;
    width: 100%;
  }

  .availcoursebig {
    font-size: 30px !important;
    font-weight: 700 !important;
  }
}

@media (max-width: 450px) {
  .faqbig1 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
  }

  .structuresmallp {
    text-align: center;
    padding-bottom: 40px;
    color: #333 !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 130% !important;
  }

  .gotque {
    text-align: center;
    color: #e7332b;
    line-height: 130%;
    font-size: 14px;
    font-weight: 400;
  }

  .wirenoseven {
    width: 23%;
    margin-bottom: 15px;
  }

  .structureboxesd {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    /* margin-top: -40px; */
    width: calc(100% + 70px);
    margin-left: -36px;
  }

  .secavailcourses {
    color: #fff !important;
    font-size: 15px !important;
    font-weight: 900 !important;
    letter-spacing: 0.01em !important;
    line-height: 140% !important;
    width: 100%;
    padding-top: 15px;
  }
}
