.page3head {
  background-color: white;
  width: 100%;
  min-height: 80px;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: fixed;
  /* padding: 10px; */
  z-index: 1;
}

nav .thdnavlinks ul li.active   {
  border-bottom: 3px solid #e7332b!important; 
  /* background-color: #e7332b; */
  /* border-radius: 0!important;  */
  /* display: flex; */
   /* justify-content: center; */
  /* line-height: 5px;
  padding: 5px!important;
  text-align: center; */
   /* position: absolute;
  top: 0; */
  transition: 0.3 ease-in-out border-bottom;

}

.thdnavlinks {
  /* display: flex; */
  /* gap: 15px; */
  /* width: 90%; */
  max-width: 1000px;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

nav .thdnavlinks ul {
  list-style: none;
}

nav .thdnavlinks ul li {
  display: inline-block;
  margin-right: 25px;
}

/* .clickables:current     {
    
        border-bottom: 3px solid #e7332b!important;
        border-radius: 0!important;
        display: flex;
        justify-content: center;
        line-height: 0px;
        padding: 0!important;
    
} */

nav .thdnavlinks ul li a {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  color: #161617;
  font-weight: 400;
  /* margin-right: 3em; */
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  /* color: rgb(25, 118, 210); */
}

nav .thdnavlinks ul li a:hover {
  background-color: rgba(25, 118, 210, 0.04);
}

.thirdimglogo {
  cursor: pointer;
}

.thdredbtn {
  padding: 11px 35px;
  background-color: #e7332b;
  border-radius: 0 0 8px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-right: 15px !important;
}

.thditemsndbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.thirdimgndnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  margin: auto;
  padding-top: 20px;
}

@media (max-width: 850px) {
  .thdnavlinks {
    display: none;
  }

  .thdredbtn {
    padding: 11px 60px;
    background-color: #e7332b;
    border-radius: 0 0 8px 0;
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    line-height: 19px;
    margin-right: 15px !important;
  }
}

@media (max-width: 500px) {
  .thdredbtn {
    padding: 11px 35px;
    background-color: #e7332b;
    border-radius: 0 0 8px 0;
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    line-height: 19px;
    margin-right: 15px !important;
  }
}

@media (max-width: 378px) {
  .thdredbtn {
    padding: 11px 15px;
    background-color: #e7332b;
    border-radius: 0 0 8px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    margin-right: 15px !important;
  }
}

@media (max-width: 280px) {
  .redsmalllog {
    width: 113px;
  }

  .thdredbtn {
    padding: 6px 10px;
    background-color: #e7332b;
    border-radius: 0 0 8px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    margin-right: 15px !important;
  }
}
